.menu,
.menu1,
.menu2,
.menu3,
.menu4 {
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: black;
    list-style: none;
    color: white;
    font-size: 2em;
    padding: 30px 10px;
}

.menu1 {
    background-color: rgb(228, 240, 0);
    justify-content: end;
    color: cadetblue;
}

.menu2 {
    background-color: rgb(0, 108, 240);
    justify-content: flex-start;
    color: rgb(79, 15, 64);
}

.menu3 {
    background-color: rgb(240, 0, 148);
    justify-content: space-evenly;
    color: rgb(189, 189, 189);
}

.menu4 {
    background-color: rgb(84, 240, 0);
    justify-content: last baseline;
    color: rgb(255, 115, 0);
}